<div id="app">

  <nav class="navbar has-background-primary is-hidden-desktop" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item nav" href="#">
        <img src="./assets/Vector.svg" alt="" width="35" height="36">
      </a>
    </div>
    <app-logotipo class="is-centered logo" heigth="27"></app-logotipo>

  </nav>
  <section class="main-content columns is-fullheight">

    <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile is-hidden-tablet-only	
    has-background-primary">
    <app-logotipo></app-logotipo>
      <ul class="menu-list has-text-white">
        <li><a href="#" *ngFor="let link of links"> {{link.Link}}</a></li>
        <ul>
        <h6 class="title is-6 has-text-weight-bold">Submenu</h6>
        <li><a href="#" *ngFor="let link of links"> {{link.Link}}</a></li>
        </ul>
        <ul>
          <h6 class="title is-6 has-text-weight-bold">Submenu</h6>
          <li><a href="#" *ngFor="let link of links"> {{link.Link}}</a></li>
          </ul>
      </ul>
    </aside>

    <div class="modal " (click)="close($event)">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head is-paddingless	has-background-primary has-text-white is-radiusless">
          <p class="has-text-white has-text-weight-bold	m-5">Quantos reais adicionar para {{toModal.name}}?
          </p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="container has-text-centered	py">

            <div class="columns is-centered" *ngFor="let val of modalValues">
              <div class="column is-4" (click)="setValue($event)">
                <h5 class="title is-5 has-text-primary"> R$ {{val.one}}</h5>

              </div>
              <div class="column is-4" (click)="setValue($event)">
                <h5 class="title is-5 has-text-primary"> R$ {{val.two}}</h5>

              </div>
            </div>
          </div>

        </section>
        <footer class="modal-card-foot">

        </footer>
      </div>
    </div>
    <div class="container column is-9">
      <div class="section">

        <h4 class="title is-4">Pessoas que vão ganhar dinheiro</h4>

        <div class="card" *ngFor="let emp of employee" [id]="emp.id">

          <div class="has-background-danger	is-pulled-right	has-text-white has-text-weight-bold red-top"
            id="top_{{emp.id}}">
            <fa-icon [icon]="faDollarSign"></fa-icon>
            <p id="txt_{{emp.id}}">Você ainda não adicinou nada</p>
          </div>

          <div class="card-content">
            <div class="columns">
              <div class="column is-1 is-hidden-tablet-only is-hidden-mobile">
                <div class="circle">
                  <span class="icon has-text-primary">
                    <fa-icon [icon]="faDollarSign"></fa-icon>
                  </span>
                </div>
              </div>
              <div class="column">
                <h3 class="title is-5 has-text-primary">{{emp.employee_name}}</h3>

                <div class="">Ao clicar no link abaixo, uma dialog irá aparecer perguntando
                  quantos reais você deseja adicionar a barra de progresso. A barra deve começar em 0.
                </div>
                <progress class="progress is-primary" id="bar_{{emp.id}}" value="0" max="200">15%</progress>

                <div class="card-down has-text-primary" (click)="modal(emp)">
                  + Clique aqui para adicionar mais
                </div>
              </div>
            </div>
          </div>


        </div>
        <br />


      </div>
    </div>

  </section>

</div>

<router-outlet></router-outlet>


